#main{
  padding: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.list-content{
  width: 96%;
	height: 96%;
	position: relative;
	margin: auto;
	padding: 10px;
	z-index: 0;
  overflow-y: auto;
  padding-bottom: 50px;
}

ul{
  position: relative;
  list-style: none;
}

li {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.5);
  line-height: 30px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.etitle{
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 40px;
  padding-top: 10px;
  height: 35px;
  width: 150px;
}

li > button{
  width: 25%;
  height: 30px;
  line-height: 30px;
  background-color: #336699;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #444;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 40%;
}

li > img{
  width: 14px;
  height: 14px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.hangup{
  left: 70%;
}

.middle{
  left: 45%;
}

.right{
  padding-left: 10px;
  line-height: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.right-long{
  padding-left: 5px;
  word-break: break-all;
  line-height: 30px;
  height:30px;
  position: relative;
  top: -5px;
}

.photo-list{
  width: 96%;
  position: relative;
  margin-left: 2.1%;
  padding: 5px;
}

.list-photo{
  width: 29%;
  margin: 2%;
  display:inline-block;
  border: 1px solid #aaa;
  box-shadow: 0px 0px 4px #bbb;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

.add-pic-btn{
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.check-events{
  width: 92%;
	height: 50px;
	line-height: 50px;
	background-color: #336699;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #444;
	position: fixed;
	color: #fff;
	bottom: 25px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#responseEvent{
  width: 92%;
  height: 50px;
  line-height: 44px;
  margin: auto;
  border: 1px solid #777;
  border-radius: 3px;
  padding: 3px;
  margin-left: 4.3%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}

#responseEvent:hover{
  box-shadow: 0px 0px 8px #336699;
}

.showingPhoto{
  width: 100%;
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  padding: 10px;
  z-index: 12;
}

.black-mode{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}

.checkPhoto1{
  width: 96%;
  margin-left: 2.1%;
}

.checkPhoto2{
  height: 96%;
  margin-bottom: 85px;
  display: table;
  margin: 0 auto;
}

.img-container{
  width: 100%;
  height: 100%;
}

.picture1{
  height: 100%;
}

.picture2{
  width: 100%;
}

.hangup-reason{
  width: 94%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid #aaa;
  box-shadow: 0px 0px 5px #bbb;
  background-color: #fff;
  z-index: 12;
}

.hangup-reason-title{
  height: 25px;
  line-height: 25px;
  padding-left: 4%;
  padding-top: 5px;
}

.hangup-delay-count{
  height: 25px;
  line-height: 25px;
  padding-left: 4%;
  padding-top: 15px;
}

.delay-time{
  width: 80%;
  height: 50px;
  padding: 5px;
  padding-left: 10px;
  margin-left: 4.3%;
  border:1px solid #aaa;
  box-shadow: 0px 0px 5px #bbb;
}

.unit{
  padding-left: 5px;
}

.input-reason{
  width: 92%;
  height: 295px;
  margin-left: 4.3%;
  border:1px solid #aaa;
  box-shadow: 0px 0px 5px #bbb;
}

.hangup-check{
  width: 92%;
	height: 50px;
	line-height: 50px;
	background-color: #336699;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #444;
	position: relative;
	color: #fff;
	margin-left: 4.3%;
  margin-bottom: 10px;
}

#responseMessage{
  padding-bottom: 20px;
}

.message-list{
  width: 92%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  position: relative;
  margin-top: 10px;
}

.message-title{
  display: block;
  padding: 2px;
  border-bottom: 1px solid #777;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.message-content{
  display: block;
  padding: 2px;
  line-height: 20px;
  padding-top: 10px;
  width: 100%;
  word-break: break-all;
}

.message-time{
  display: block;
  padding: 2px;
  line-height: 20px;
  text-align: right;
  width: 100%;
  padding-top: 10px;
}

.message-photo{
  width: 100%;
  position: relative;
  padding-top: 5px;
}

.deleteBtn{
  width: 92%;
  height: 50px;
  line-height: 50px;
  background-color: #336699;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #444;
  position: absolute;;
  left: 0;
  right: 0;
  color: #fff;
  margin: auto;
  bottom: 15px;
}

.changeImage{
  width: 50px;
  height: 70px;
  font-size: 150%;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: 100;
  top: 50%;
  margin-top: -40px;
  line-height: 70px;
  text-align: center;
}

.leftImage {
  left: 0;
}

.rightImage {
  right: 0;
}
