#main{
	padding: 0;
	width: 100%;
	height: 100%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 5px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
  overflow: hidden;
}

.button-list{
  width: 94%;
  height: 50px;
  margin-top: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  overflow: hidden;
  line-height: 50px;
  position: relative;
  z-index: 10;
  margin-left: 3.2%;
  box-shadow: 0px 0px 5px #bbb;
}

.button-con{
  border-left: 1px solid #aaa;
  width: 25%;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  background-color: #fff;
}

.b1{
	position: relative;
  border: 0px;
}

.b2{
  position: absolute;
  left: 25%;
}

.b3{
  position: absolute;
  left: 50%;
}

.b4{
  position: absolute;
  right: 0;
}

.button-con-big{
  border-left: 1px solid #aaa;
  width: 50%;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  background-color: #fff;
}

.button-con-big-2{
  border-left: 1px solid #aaa;
  width: 33.3%;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  background-color: #fff;
}

.b5{
	position: relative;
  border: 0px;
}

.b6{
  position: absolute;
}

.b7{
	position: absolute;
	right: 0;
}

.colorchoose{
  background-color: #01579b;
  color: #fff;
}

.eves-detail{
	width: 96%;
	padding: 10px;
	box-shadow: 0px 0px 5px #444;
	background-color: #fff;
	position: relative;
	margin:auto;
	margin-bottom: 16px;
	opacity: 1;
}

.name-info {
	font-size: 110%;
	text-align: left;
	height: 35px;
	line-height: 35px;
	position: relative;
	font-weight: bold;
	display: block;
	padding-left: 10px;
}

.task-status {
	font-size: 100%;
	text-align: left;
	height: 35px;
	line-height: 35px;
	display: block;
	padding-left: 10px;
}

.task-info {
	font-size: 90%;
	text-align: left;
	display: block;
	width: 100%;
	border-top: 1px solid #aaa;
	line-height: 20px;
	padding: 10px;
}

.task-time {
	font-size: 90%;
	position: absolute;
	top: 10px;
	right: 20px;
	text-align: right;
	height: 35px;
	line-height: 35px;
	color: #ff9999;
}

.content-list{
  width: 100%;
  height: 100%;
  padding-top: 150px;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow-y: scroll;
  background-color: #eee;
  z-index: 9;
}

.emptyclass{
  width: 100%;
  text-align: center;
}

.loading{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 100;
}

.loading > span{
	width: 200px;
	height: 100px;
	line-height: 100px;
	font-size: 130%;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.number-info{
	display: block;
	padding-left: 10px;
}

.report-time{
	display: block;
	padding-left: 10px;
}

.hintnum{
	position: absolute;
	background-color: red;
	width: 23px;
	height: 23px;
	line-height: 23px;
	text-align: center;
	border-radius: 20px;
	top: 0px;
	right: 0px;
	font-size: 60%;
	color: white;
}

.search-box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index:30;
}

.middle-search{
	background-color: #fff;
	width: 100%;
	padding: 10px;
	box-shadow: 0px 0px 5px #ccc;
	position: absolute;
}

.middle-search > input{
	border: 1px solid #bbb;
	box-shadow: 0px 0px 5px #ccc;
	outline: none;
	padding: 4px;
	font-size: 110%;
	height: 45px;
	line-height: 40px;
	width: 94%;
	margin-left: 3.2%;
	margin-top: 10px;
	border-radius: 5px;
}

.middles-d{
	border: 1px solid #bbb;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #ccc;
	padding: 4px;
	font-size: 110%;
	height: 45px;
	line-height: 40px;
	width: 94%;
	margin-left: 3.2%;
	margin-top: 10px;
	text-align: center;
	background-color: #336699;
	color: #fff;
}

.search-time{
	position: relative;
	font-size: 110%;
	height: 45px;
	line-height: 40px;
	width: 94%;
	margin-left: 3.2%;
	margin-bottom: 5px;
	margin-top: 10px;
	overflow: hidden;
}

.search-time > input{
	display: inline-block;
	width: 30.5%;
	height: 100%;
	border: 1px solid #bbb;
	box-shadow: 0px 0px 5px #ccc;
	border-radius: 5px;
	padding: 4px;
	text-align: center;
}

.searchbtn{
	width: 45%;
	height: 50px;
	line-height: 50px;
	background-color: #336699;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #444;
	color: #fff;
	position: relative;
	margin-left: 3.2%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.blackground{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
}

.choose-search{
	background-color: #fff;
	width: 100%;
	height: 60%;
	position: absolute;
	left: 0;
	bottom: 0;
	box-sizing: 0px 0px 5px #ccc;
	padding-top: 20px;
	overflow-x: auto;
}

.type-de {
  display: block;
  height: 50px;
  line-height: 50px;
  color:#00BFFF;
  text-align: center;
  position: relative;
  width: 80%;
  border: 1px solid #00BFFF;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.searchroad{
	border: 1px solid #bbb;
	box-shadow: 0px 0px 5px #ccc;
	outline: none;
	padding: 4px;
	font-size: 110%;
	height: 45px;
	line-height: 40px;
	width: 94%;
	border-radius: 5px;
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 21;
	background-color: #fff;
}

.detail-info{
	width: 100%;
	height: 100%;
	padding-top: 65px;
	overflow: auto;
	position: relative;
	z-index: 10;
}
