#main{
	padding: 0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-top: 15px;
  position: relative;
}

.getmap{
  width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.blackmode{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
	background-color: rgba(0, 0, 0, 0.5);
}

.blackTip{
	position: absolute;
	line-height: 50px;
	height: 50px;
	width: 300px;
	top: 0;
	bottom: 0;
	text-align: center;
	left: 0;
	right: 0;
	margin: auto;
	color: #fff;
	font-size: 120%;
}

.updatagps{
  width: 92%;
	height: 50px;
	line-height: 50px;
	background-color: #336699;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #444;
	position: absolute;
	color: #fff;
	bottom: 25px;
	left: 4%;
}

.gpsinfo{
  width: 100%;
  height: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  background-color:#fff;
  z-index: 12;
}

.name-info{
  width: 94%;
  height: 60px;
  margin: 3.2%;
  border: 1px solid #00bbff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #bbb;
  padding-left: 5px;
  line-height: 50px;
	position: relative;
}

.scanner{
	width: 94%;
	height: 60px;
	margin: 3.2%;
	margin-top: 0px;
	border: 1px solid #00bbff;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #bbb;
	background-color: #eee;
	padding-left: 5px;
	line-height: 50px;
	position: relative;
	color: #00bbff;
}

.name-info > label{
	position: absolute;
	width: 50px;
	text-align: center;
	line-height: 60px;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0px;
}

.forname{
	height: 60px;
	width: 100%;
	outline: none;
	padding-left: 50px;
	color: #aaa;
	line-height: 60px;
	position: relative;
}

.type-choose{
	width: 94%;
	height: 60px;
	margin: 3.2%;
	margin-top: 0px;
	border: 1px solid #00bbff;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #bbb;
	line-height: 50px;
	position: relative;
	color: #00bbff;
}

.type1{
	width: 50%;
	height: 100%;
	display: inline-block;
	line-height: 60px;
	text-align: center;
	font-size: 120%;
}

.type2{
	width: 50%;
	height: 100%;
	display: inline-block;
	line-height: 60px;
	text-align: center;
	font-size: 120%;
	position: absolute;
	right: 0px;
}

.colorchange{
	background-color: #00bbff;
	color: white;
}

.checkinbutn{
  width: 92%;
	height: 50px;
	line-height: 50px;
	background-color: #336699;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #444;
	position: absolute;
	color: #fff;
	bottom: 10px;
	left: 4%;
}
