#main{
	padding: 0;
	width: 100%;
	height: 100%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 5px;
	background-image: url(../image/background.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.return-btn-2{
	height: 50px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-family: "微软雅黑";
	font-size: 90%;
	padding: 8px;
	text-align: center;
	line-height: 35px;
	font-size: 80%;
}

.return-btn-2:before{
	content:"";
	position: absolute;
	bottom: 5px;
	right: 0px;
	width: 1px;
	height: 40px;
	background-color:#003366;
}

.header-right-btn{
	font-size: 80%;
}

.topPart{
	width: 100%;
	position: relative;
}

.title{
	width: 100%;
	height: 60px;
	box-shadow: 0px 0px 5px #333;
	background-color: #fff;
	position: relative;
	opacity: 1;
	z-index: 1;
}

.titleImage{
	height: 60px;
	width: 60px;
	background-color: #3399CC;
	position: absolute;
	top: 0;
	left: 0;
	padding: 1%;
}

.titleImage > img {
	width: 98%;
	height: 98%;
}

.titleText{
	font-family: "微软雅黑";
	line-height: 60px;
	text-align: center;
	font-size: 120%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.titleMessage{
	font-family: "微软雅黑";
	line-height: 60px;
	text-align: center;
	font-size: 120%;
	width: 60px;
	height: 60px;
	background-color: #FF6666;
	position: absolute;
	top: 0;
	right: 0;
	color: #FFF;
}

.content{
	width: 98%;
	height: 4px;
	background-color: #fff;
	box-shadow: 0px 0px 5px #444;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 0;
	/*transition:height 1s;
	-moz-transition:height 1s;
	-webkit-transition:height 1s;
	-o-transition:height 1s;*/
}

.content > div {
	display: none;
	/*animation: dispear 0.5s 1;
	animation-fill-mode:forwards;*/
}

.content1{
	width: 98%;
	background-color: #fff;
	box-shadow: 0px 0px 5px #444;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	margin: auto;
	overflow-y: auto;
	z-index: 0;
	/*transition:height 1s;
	-moz-transition:height 1s;
	-webkit-transition:height 1s;
	-o-transition:height 1s;*/
}

.content1 > div{
	opacity: 1;
	/*animation: showing 1s 1;
	animation-delay: 1s;
	animation-fill-mode:forwards;*/
}

.eves-detail{
	width: 96%;
	padding: 10px;
	box-shadow: 0px 0px 5px #444;
	background-color: #fff;
	position: relative;
	margin:auto;
	margin-top: 16px;
	margin-bottom: 16px;
	opacity: 1;
}

.name-info {
	font-size: 110%;
	text-align: left;
	height: 35px;
	line-height: 35px;
	position: relative;
	font-weight: bold;
	display: block;
	padding-left: 10px;
}

.task-status {
	font-size: 100%;
	text-align: left;
	height: 35px;
	line-height: 35px;
	display: block;
	padding-left: 10px;
}

.task-info {
	font-size: 90%;
	text-align: left;
	display: block;
	width: 100%;
	border-top: 1px solid #aaa;
	line-height: 20px;
	padding: 10px;
}

.task-time {
	font-size: 90%;
	position: absolute;
	top: 10px;
	right: 20px;
	text-align: right;
	height: 35px;
	line-height: 35px;
	color: #ff9999;
}

.bottomPart{
	width: 100%;
	margin-top: 8px;
	position: relative;
	/*transition:margin-top 0.7s;
	-moz-transition:margin-top 0.7s;
	-webkit-transition:margin-top 0.7s;
	-o-transition:margin-top 0.7s; */
}

.notice-detail{
	width: 90%;
	position: relative;
	margin:auto;
	margin-top: 12px;
	margin-bottom: 8px;
	opacity: 1;
}

.notice-time{
	font-size: 80%;
	line-height: 30px;
	float: right;
	color: #003366;
}

.notice-content{
	width: 96%;
	position: relative;
	margin: auto;
	border-radius: 10px;
	padding: 5px;
	background-color: #fff;
	border: 1px solid #444;
}

.notice-name{
	display: block;
	width: 92%;
	font-size: 100%;
	height: 40px;
	line-height: 40px;
	position: relative;
	margin: auto;
	border-bottom: 1px solid #777;
	word-break: break-all;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}

.notice-routing{
	display: block;
	width: 92%;
	font-size: 90%;
	line-height: 30px;
	position: relative;
	margin: auto;
	border-bottom: 1px solid #777;
}

.notice-introduction{
	display: block;
	width: 92%;
	font-size: 90%;
	line-height: 30px;
	position: relative;
	margin: auto;
	clear: both;
}
