#main{
	padding: 0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-top: 20px;
}

.loadingPage{
  width: 100%;
  position: relative;
}

.mnlist{
  width: 32.5%;
  display: inline-block;
}

.mn-container{
  width: 70px;
  height: 70px;
  border-radius: 70px;
  position: relative;
  margin: 0 auto;
}

.mn-container > img{
  width:90%;
  height: 90%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.mn-name{
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

#pagefoot{
	padding-left: 20px;
	position: absolute;
	bottom: 10px;
}
