#main{
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url(../image/background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.main-detail{
  width: 96%;
	height: 96%;
	position: relative;
	margin: auto;
	padding: 10px;
	z-index: 0;
  padding-bottom: 50px;
}

.street{
  width: 100%;
	height: 50px;
	line-height: 45px;
	margin: auto;
	position: relative;
	background-color: rgba(255,255,255,0.4);
}

.street-img {
  width: 14px;
  height: 14px;
  position: absolute;
  /*top: 0;
  height: 0;
  margin: auto;*/
  top: 16px;
  left: 20px;
}

.street-title{
  text-align:left;
  position: absolute;
  height: 30px;
  line-height: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 50px;
}

.street-part{
  text-align:right;
  position: absolute;
  height: 30px;
  line-height: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 35px;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #777;
}

.information{
  width: 100%;
	height: 50px;
	line-height: 45px;
	border-top: 2px solid #666;
	margin: auto;
	position: relative;
	background-color: rgba(255,255,255,0.4);
}

.type-events{
  width: 14px;
  height: 14px;
  position: absolute;
  top: 16px;
  left: 20px;
}

.information-type{
  text-align:left;
  position: absolute;
  height: 30px;
  line-height: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 50px;
}

.info-detail{
  text-align:right;
  position: absolute;
  height: 30px;
  line-height: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 35px;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #777;
}

.right-pic{
  width: 14px;
  height: 14px;
  position: absolute;
  top: 16px;
  right: 10px;
}

.event-detail{
  width: 100%;
  height: 110px;
	line-height: 45px;
	border-top: 2px solid #888;
	margin: auto;
	position: relative;
	background-color: rgba(255,255,255,0.4);;
}

.left-part{
  width: 14px;
  height: 14px;
  position: absolute;
  top: 16px;
  left: 20px;
}

.right-part{
  width: 14px;
  height: 14px;
  position: absolute;
  top: 16px;
  right: 100px;
}

.question-intro{
  height: 30px;
  position: absolute;
  top: 10px;
  left: 50px;
  line-height: 30px;
}

.check-ques{
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 30px;
  width: 80px;
}

#questionMessage{
  width: 94%;
  height: 50px;
  line-height: 44px;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid #777;
  border-radius: 3px;
  padding: 3px;
}

#questionMessage:hover{
  box-shadow: 0px 0px 8px #336699;
}

.photo-event{
  width: 100%;
  height: 160px;
  line-height: 45px;
  border-top: 2px solid #aaa;
  margin: auto;
  position: relative;
  background-color: rgba(255,255,255,0.4);;
}

.photo-position{
  width: 100%;
  height: 160px;
  line-height: 45px;
  border-top: 2px solid #444;
  margin: auto;
  position: relative;
  background-color: rgba(255,255,255,0.4);;
}

.photo-title{
  padding-left: 10px;
}

.photo-list{
  width: 94%;
  height: 100px;
  margin: auto;
  border: 1px solid #aaa;
  box-shadow: 0px 0px 3px #ccc;
  padding: 10px;
}

.photo-list-content{
  width: 80px;
  height: 80px;
  margin-right: 10px;
  position: relative;
  border: 1px solid #bbb;
  box-shadow: 0px 0px 5px #aaa;
  overflow: hidden;
  display:inline-block;
}

.add-picture-stuff{
  padding: 10px;
  width:50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.create-events{
  width: 92%;
	height: 50px;
	line-height: 50px;
	background-color: #336699;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #444;
	position: absolute;
	color: #fff;
	bottom: 25px;
	left: 0;
	right: 0;
	margin: auto;
}

.black-mode{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}

.check-type-list{
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 11;
  border-top: 2px solid #aaa;
  box-shadow: 0px 0px 5px #999;
}

.type-list-content{
  display:inline-block;
  width: 100%;
  height: 99%;
  padding-top: 20px;
  overflow-y: auto;
  /*border-right: 1px solid #336699;*/
}

.type-list-detail{
  width: 100%;
  height: 80%;
  overflow-y: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 11;
  padding-top:50px;
  background-color: #fff;
}

.type-list-detail-head{
  width: 100%;
  height: 50px;
  background-color: #01579b;
  position: fixed;
  margin-top: -50px;
  color: #fff;
  font-size: 120%;
  line-height: 50px;
  text-align: center;
}

.position-list{
  display: inline-block;
  width: 100%;
  height: 80%;
  overflow-y: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 11;
  padding-top: 50px;
  background-color: #fff;
}

.position-list-content{
  width: 94%;
  height: 50px;
  line-height: 50px;
  color: #336699;
  border-left: 1px solid #00BFFF;
  border-bottom: 1px solid #00BFFF;
  margin-left: 3.2%;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 90%;
}

.type-de {
  display: block;
  height: 50px;
  line-height: 50px;
  color:#00BFFF;
  text-align: center;
  position: relative;
  width: 80%;
  border: 1px solid #00BFFF;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.ty-de-content{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ty-de-content-list{
  width: 94%;
  height: 50px;
  line-height: 50px;
  color: #336699;
  border-left: 1px solid #00BFFF;
  border-bottom: 1px solid #00BFFF;
  margin-left: 3.2%;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 90%;
}

.showingPhoto{
  width: 100%;
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  padding: 10px;
  padding-bottom: 85px;
  z-index: 11;
}

.img-container{
  width: 100%;
  height: 100%;
}

.deletePicture{
  width: 92%;
	height: 50px;
	line-height: 50px;
	background-color: #336699;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #444;
	position: absolute;
	color: #fff;
	bottom: 25px;
	left: 0;
	right: 0;
	margin: auto;
}

.checkPhoto1{
  width: 96%;
  margin-left: 2.1%;
}

.checkPhoto2{
  height: 96%;
  margin-bottom: 85px;
  display: table;
  margin: 0 auto;
}
