#main{
	padding: 0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-top: 15px;
}

.amap{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}

.mapInfo{
	width: 100%;
	height: 100%;
	position: relative;
}

.easymap{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 6;
	top:0;
	left: 0;
	background-color: #eee;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow-y: scroll;
	padding-bottom:50px;
	padding-top: 20px;
}

.punchPoint{
	width: 100%;
	height: 55px;
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
}

.num{
	width:40px;
	height: 40px;
	border-radius: 20px;
	position: relative;
	font-size: 120%;
	text-align: center;
	line-height: 40px;
}

.num:after{
	content:" ";
	position: absolute;
	top: 99%;
	left: 49%;
	width: 2px;
	height: 25px;
	background-color: inherit;
}

.lastpp:after{
	display:none;
}

.numcolorg{
	background-color:green;
	color: #fff;
}

.numcolorr{
	background-color:red;
	color: #fff;
}

.numcolorgr{
	background-color: #888;
	color: #fff;
}

.name{
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}

.explain-section{
	position: fixed;
	top: 85px;
	right: 10px;
	width: 100px;
	height: 100px;
	border: 1px solid #444;
	background-color: #fff;
	box-shadow: 0px 0px 4px #444;
	padding: 10px;
	z-index: 15;
}

ui li {
	list-style: none;
	margin-bottom: 8px;
	margin-top: 8px;
}

.spot{
	width: 10px;
	height: 10px;
	border-radius: 10px;
}

.exchange-map{
	width: 40px;
	height: 80px;
	font-size: 80%;
	line-height: 20px;
	background-color: #fff;
	border: 1px solid #444;
	box-shadow: 0px 0px 4px #444;
	position: fixed;
	top: 190px;
	right: 10px;
	z-index: 15;
}

.exchange-map > img {
	width: 30px;
	height: 30px;
	margin: 5px;
}

.exchange-map > span{
	width: 100%;
	text-align: center;
}

.exchange-scanner{
	width: 40px;
	height: 40px;
	font-size: 80%;
	line-height: 20px;
	background-color: #fff;
	border: 1px solid #444;
	box-shadow: 0px 0px 4px #444;
	position: fixed;
	top: 280;
	right: 10px;
	z-index: 15;
}

.exchange-scanner > img {
	width: 30px;
	height: 30px;
	margin: 5px;
}

.report-event{
	width: 45%;
	height: 50px;
	line-height: 50px;
	background-color: #336699;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #444;
	position: absolute;
	color: #fff;
	bottom: 25px;
	left: 4%;
	z-index: 15;
}

.end-task{
	width: 45%;
	height: 50px;
	line-height: 50px;
	background-color: #336699;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #444;
	position: absolute;
	color: #fff;
	bottom: 25px;
	right: 4%;
	z-index: 15;
}

.return-to-last-page{
	width: 92%;
	height: 50px;
	line-height: 50px;
	background-color: #336699;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #444;
	position: absolute;
	color: #fff;
	bottom: 25px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 15;
}

.blackmode{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
	background-color: rgba(0, 0, 0, 0.5);
}

.blackTip{
	position: absolute;
	line-height: 50px;
	height: 50px;
	width: 300px;
	top: 0;
	bottom: 0;
	text-align: center;
	left: 0;
	right: 0;
	margin: auto;
	color: #fff;
	font-size: 120%;
}

.blackmodeall{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 19;
	background-color: rgba(0 ,0 ,0 ,0.6);
}

.overtime-stuff{
	width: 100%;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 30;
	background-color: #fff;
	border: 1px solid #00bbff;
	box-shadow: 0px 0px 5px #bbb;
}

.overtime-stuff > span {
	font-size: 120%;
	padding: 20px;
	height: 20px;
	line-height: 20px;
	padding-left: 3%;
}

.overTime-text{
	width: 94%;
	height: 160px;
	margin-left: 3.2%;
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 5px;
}

.enditall{
	width: 92%;
	height: 50px;
	line-height: 50px;
	background-color: #336699;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #444;
	position: absolute;
	color: #fff;
	bottom: 25px;
	left: 0;
	right: 0;
	margin: auto;
}

.loading{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 100;
}

.loading > span{
	width: 200px;
	height: 100px;
	line-height: 100px;
	font-size: 130%;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
